<!-- app/views/questions/show.html.erb -->

<h1><%= @question.title %></h1>
<p><%= @question.content %></p>
<p>Posted by <%= @question.user.email %></p>

<%= button_to "like", like_question_path(@question.id), method: :post, class: 'btn btn-like' unless @question.likes.exists?(user: current_user) %>
<%= button_to "Unlike", unlike_question_path(@question.id), method: :delete, class: 'btn btn-unlike' if @question.likes.exists?(user: current_user) %>

<hr>

<h2>Answers (<%= @question.answers.count %>)</h2>

<% @answers.each do |answer| %>
  <div class="answer">
    <p><%= answer.content %></p>
    <p>Posted by <%= answer.user.email %></p>

    <%= button_to "Like", like_answer_path(answer.question.id, answer.id), method: :post, class: 'btn btn-like' unless answer.likes.exists?(user: current_user) %>
    <%= button_to "Unlike", like_answer_path(answer.question.id, answer.id), method: :delete, class: 'btn btn-unlike' if answer.likes.exists?(user: current_user) %>

    <% if can? :destroy, answer %>
      <%= button_to 'Delete', question_answer_path(answer.question.id, answer.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end %>
  </div>
  <hr>
<% end %>

<h3>Add a New Answer</h3>
<%= render 'answers/form', question: @question %>

<%= link_to 'Back to Questions', questions_path, class: 'btn btn-secondary' %>
