
<div class="bg-grey-lighter flex flex-col">
  <div class="container max-w-xl mx-auto  flex flex-col items-center justify-center px-2">
    <div class="bg-white px-6 py-8 my-8 rounded shadow-md text-black w-full">
      <h2 class="mb-8 text-3xl text-center">Resend confirmation instructions</h2>
      <div class="text-left">
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder:"Enter email", class:"block border border-gray-300 w-full p-3 rounded mb-4"
            %>
          </div>

          <div class="actions">
            <%= f.submit "Resend confirmation instructions" , class:"w-full text-center py-3 rounded bg-green-500 text-white hover:bg-green-700 focus:outline-none my-3"
            %>
          </div>
        <% end %>
        <p class="text-center">Or</p>
        <div class="text-center"><em class="underline"><%= render "devise/shared/links" %></em></div>
      </div>

    </div>
  </div>
</div>