
<div class="bg-grey-lighter flex flex-col">
  <div class="container max-w-xl mx-auto  flex flex-col items-center justify-center px-2">
    <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
      <h1 class="mb-8 text-3xl text-center">Edit Profile</h1>
      <div class="text-center">
        <div class="text-center">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {multipart:true, method: :put, id:"edit_registration_form" }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.text_field :username, autofocus: true, autocomplete: "name", placeholder:"User Name",class:"block border border-grey-light w-full p-3 rounded mb-4"
              %>
            </div>
            <div class="field">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email",class:"block border border-grey-light w-full p-3 rounded mb-4" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "new-password",placeholder:"Password (#{@minimum_password_length} characters minimum)",class:"block border border-grey-light w-full p-3 rounded mb-4" %>
            </div>

            <div class="field">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Confirm password",class:"block border border-grey-light w-full p-3 rounded mb-4"
              %>
            </div>

            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

            <div class="field">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "current-password",placeholder:"Current password", class:"block border border-grey-light w-full p-3 rounded mb-4" %>
            </div>
            <div class="field" >
              <%= f.label :avatar, "upload your pic" %><br />
              <%= f.file_field :avatar, autofocus: true, autocomplete: "name", id:"avatar", placeholder:"Upload your picture", class:"block border border-grey-light w-full p-3 rounded mb-4"%>
            </div>
            <div class="">
              <img src='' id="avatar-preview" class="max-w-full"/>
            </div>

            <div class="actions">
              <%= f.submit "Update",class:"w-full text-center py-3 rounded bg-green-500 text-white hover:bg-green-700 focus:outline-none my-3" %>
            </div>
          <% end %>

          <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete,class:"w-full text-center py-3 rounded bg-red-500 text-white hover:bg-red-700 focus:outline-none my-3" %></div>

          <%= link_to "Back", :back %>

        </div>
      </div>

    </div>

  </div>
</div>