<%= hidden_field_tag :sender_id, current_user.id %>
<%= hidden_field_tag :recipient_id, user.id %>
<%= hidden_field_tag :recipient_avatar, url_for(user.avatar) %>
<div class="relative ">

  <div id="messages" class="h-[80vh] bg-white  overflow-y-scroll px-4 pb-24 overflow-x-hidden">
    <div id="chat_profile" class="flex  gap-2 sticky top-0 bg-white w-full border-b p-3">
      <div class="relative">
        <%= image_tag user.avatar, class: "h-12 w-12 rounded-full object-cover" %>
        <span id="green_dot_<%= user.id %>" class=" bottom-0 left-7 absolute  w-3.5 h-3.5  <%= user.online ? 'bg-green-500 border-2 border-white' : '' %>  rounded-full"></span>
      </div>
      <h3 class="capitalize font-bold text-xl"><%= user.username %></h3>
    </div>
   <% messages.each do |message| %>
      <% if message.sender == current_user %>

        <div>
          <div class="flex items-start gap-5 justify-end my-3">
            <div class="bg-[#007D2A] max-w-[500px] text-white px-5 overflow-auto py-2 rounded-[20px]  break-words" >
              <p> <%=  message.content %></p>
            </div>
<!--            <button onclick="deleteMessage(#{message.id})" id="delete-btn" class="text-red-500">Delete</button>-->
          </div>
        </div>
      <% else %>
        <div>
          <div class="flex items-start gap-5 justify-start my-3">
            <div>
              <%= image_tag message.sender.avatar, class: "h-8 w-8 rounded-full object-cover" %>
            </div>
            <div class="bg-[#F0F0F0] max-w-[500px]  rounded-[20px]  px-5 py-2 overflow-auto   break-words" >
              <p> <%=  message.content %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>

  <div class="bottom-0 absolute w-full bg-white">
    <%= form_with(model: [ Message.new ], remote: true, id: 'new_message') do |form| %>
      <div class="flex justify-center items-center">
        <div class="field w-full  ">
          <%= form.text_field :content, placeholder: 'Type your message...', class: 'block  p-1.5 w-full text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-green-500 focus:border-green-500 ', id: 'message_content' %>
        </div>
        <div class="actions">
          <%= form.button nil, class: 'inline-flex justify-center p-2 text-green-600 rounded-full cursor-pointer hover:bg-green-100 ' do %>
            <svg class="w-8 h-8 rotate-90 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
              <path d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"/>
            </svg>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>

    function deleteMessage(messageId) {
        fetch(`/messages/${messageId}`, {
            method: 'DELETE',
            headers: {
                'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            }
        }).then(response => {
            if (response.ok) {
                document.getElementById(`message_${messageId}`).remove();
            } else {
                alert('Failed to delete message');
            }
        }).catch(() => {
            alert('An error occurred');
        });
    }
</script>