<section class="text-gray-600 body-font bg-[#faebd7] mb-10">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, class: "w-[300px] h-[300px]  mb-10 object-cover object-center rounded-full" %>
    <% end %>
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"><%= @user.username %></h1>
      <p class="mb-8 leading-relaxed"><%= @user.email %></p>
      <% if current_user == @user %>
        <div class="flex justify-center">
          <%= link_to "Edit Profile", edit_user_registration_path, class: "inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg" %>
        </div>
      <% else %>
        <div class="flex justify-center">
          <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Add
            Friend
          </button>
          <button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Follow</button>
        </div>
      <% end %>

    </div>
  </div>
</section>

<div class="w-[800px] mx-auto">
  <%= render 'posts/posts', posts: @posts %>
</div>