<div class="stories flex " style="
display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
  max-width: 100%;
  scrollbar-width: thin;
  scrollbar-color: #211e1e #f5f5f5;
  scrollbar-radius: 10px;
">
  <div class="relative" style="flex: 0 0 33.33%;
  ">
    <%= link_to new_story_path do %>
      <%= image_tag current_user.avatar, class: 'w-full h-[350px] rounded-xl border brightness-75 object-cover' %>
      <div class="absolute top-1/2 left-1/2 translate-x-[-40%] translate-x-[-30%]">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50" fill="white">
          <path d="M25,2C12.317,2,2,12.317,2,25s10.317,23,23,23s23-10.317,23-23S37.683,2,25,2z M37,26H26v11h-2V26H13v-2h11V13h2v11h11V26z"></path>
        </svg>
      </div>
    <% end %>

  </div>
  <% stories.each do |story| %>
    <%= link_to story_path(story), class: "story relative", style: "flex: 0 0 33.33%;" do %>
      <%= image_tag story.image, class: 'w-full h-[350px] rounded-xl border object-cover' %>
      <p class="text-white absolute top-2 right-2 bg-black/30 px-2">
        <%= time_ago_in_words(story.created_at) %> ago
      <div class="absolute bottom-2 left-2">
        <div>
          <%= image_tag story.user.avatar, class: 'h-12 w-12 rounded-full border-2 p-[2px] border-green-500 inline-block object-cover' %>
          <span class="text-white font-bold"><%= story.user.username %></span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

