<div class="my-5  text-right">
  <%= link_to new_post_path, class:"hover:bg-[#D2E9E9] bg-[#E3F4F4]  px-5 py-3 " do %>
    Create Post
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class=" inline-block w-5 h-5">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
  <% end %>
</div>

<% @posts.each do |post| %>
<div class="bg-[#fff] mb-5 p-3 text-left capitalize hover:scale-105 transition ease-linear duration-100  ">
  <%= link_to post_path(post) do %>
  <h2 class="text-5xl text-[#001524]  font-semibold ">
    <%= post.title%>
    </h2>
    <p class="text-sm text-[#445D48] mt-2">
    <%= post.content %>
    </p>
    <p class="text-gray-600">By:
    <%= post.user.username %></p>
  <% end %>
</div>
<% end %>