<div class="bg-[#fff] mt-5 p-3 text-left capitalize shadow ">
  <h2 class="text-5xl text-[#001524]  font-semibold ">
    <%= @post.title%>
  </h2>
  <p class="text-sm text-[#445D48] mt-2">
    <%= @post.content %>
  </p>
  <p class="text-gray-600">By:
    <%= @post.user.username %></p>
</div>

<div class="flex justify-between items-center">
<% if can? :edit, @post %>
<%= link_to edit_post_path(@post) , class:"text-slate-500 " do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
      </svg>
    <% end %>
<% end %>

  <% if can? :destroy, @post %>
    <%= button_to  post_path(@post), method: :delete, data:{confirm:'are you sure?'} , class:"my-2 text-red-500" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
    </svg>
  <% end %>
<% end %>
</div>

<div class="my-10">
    <% @comments.each do |comment| %>
    <div class="border p-5 mb-4">
      <div class="bg-[#eee] text-black p-3 ">
        <b><%= comment.user.username %>: </b>
        <%= comment.body %>
        <div class="flex justify-between items-center ">
          <% if can? :edit, comment %>
            <%= link_to edit_post_comment_path(@post, comment), class:"text-slate-500 " do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
              </svg>
            <% end %>
          <% end %>

          <% if can? :destroy, comment %>
            <%= button_to post_comment_path(@post, comment), method: :delete, data:{confirm:"Are you sure?"}, class:"my-2 text-red-500" do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
              </svg>
            <% end %>
          <% end %>
        </div>
      </div>


      <div class="m-8 my-3">
        <div class="mb-3 border border-2 p-3">
          <% comment.replies.each do |reply| %>
            <div class="flex justify-between items-center ">
              <div>
                <b><%= reply.user.username %>:</b>
                <i>
                  <%= reply.body %> <br/>
                </i>
              </div>
              <% if can? :edit, reply %>
                <div class="space-x-2">
                  <button><%= link_to  "/posts/#{@post.id}/comments/#{comment.id}/replies/#{reply.id}/edit", class:"text-slate-500" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                      </svg>
                  <% end %>
                      </button>
                  <button><%= button_to  "/posts/#{@post.id}/comments/#{comment.id}/replies/#{reply.id}", method: :delete,data:{turbo_method:"delete",confirm:"Are you sure?"}, class:" text-red-500" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                      </svg>
                  <% end %>
                      </button>
                </div>
              <% end %>

            </div>

          <% end %>
        </div>

        <%= link_to "add reply", "/posts/#{@post.id}/comments/#{comment.id}/new" , class:"bg-gray-200 px-2 py-px "%>
        <br/>
      </div>
    </div>
    <% end %>

<%= link_to "Add comment",  "/posts/#{@post.id}/comments/new" , class: 'text-center my-8  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-600 transition duration-150 ease-in-out hover:bg-green-500 bg-[#445D48] rounded text-white px-8 py-2 text-sm cursor-pointer block'%>
</div>