<div class="bg-white rounded-lg">
  <%= image_tag @post.post_image, class:"rounded-t-lg" %>
  <div class="flex justify-between items-start">
    <div class="my-3 p-3">
      <h2 class="text-3xl text-[#001524] font-bold capitalize my-2 hover:text-indigo-700 ">
        <%= @post.title%>
      </h2>
      <p class="text-xl text-[#445D48] my-2">
        <%= @post.content %>
      </p>
      <p class="text-sm text-[#445D48]"><%= time_ago(@post.created_at)  %></p>
    </div>

    <div class="relative">
      <% if can? :manage, @post %>
    <button id="post-dot" class="p-4 "><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 -z-10">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
      </svg>
      </button>
    <div class="hidden absolute top-10 right-5 shadow-lg p-5 " id="post-popup">
          <% if can? :edit, @post %>
            <%= link_to "Edit", edit_post_path(@post) , class:"my-2 text-gray-500 border border-gray-500 px-3 py-px hover:bg-gray-500 hover:text-white rounded-md block"%>
          <% end %>

          <% if can? :destroy, @post %>
            <%= button_to "Delete", post_path(@post), method: :delete, data:{confirm:'are you sure?'} , class:"my-2 text-red-500 border border-red-500 px-3 py-px hover:bg-red-500 hover:text-white rounded-md" %>
          <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="my-10">
    <% @comments.each do |comment| %>
    <div class="border p-5 mb-4">
      <div class="bg-[#eee] flex justify-between items-start p-3 ">
        <div class="flex items-center gap-3">
          <div>
            <%= image_tag comment.user.avatar  , class:"h-10 w-10 rounded-full object-cover"%>
          </div>
          <div>
            <b><%= comment.user.username %> </b>
            <p> <%= comment.body %></p>
          </div>
        </div>
        <div class="relative">
          <% if can? :manage, comment %>
          <button id="comment-dot" class="p-4 block "><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
          </svg>
          </button>
          <div class=" absolute top-10 right-5 bg-white p-3 shadow-lg hidden" id="comment-popup">
            <% if can? :edit, comment %>
              <%= link_to "Edit", edit_post_comment_path(@post, comment), class:"my-2 text-gray-500 border border-gray-500 px-3 py-px hover:bg-gray-500 hover:text-white rounded-md block " %>
            <% end %>

            <% if can? :destroy, comment %>
              <%= button_to "Delete", post_comment_path(@post, comment), method: :delete, data:{confirm:"Are you sure?"}, class:"my-2 text-red-500 border border-red-500 px-3 py-px hover:bg-red-500 hover:text-white rounded-md" %>
            <% end %>
          </div>
            <% end %>
        </div>

      </div>


      <div class="mx-8 my-3">
        <div class="mb-3  p-3">
          <% comment.replies.each do |reply| %>
            <div class="flex justify-between items-center my-2">
              <div class="flex gap-3 items-center">
                <%= image_tag reply.user.avatar, class:"object-cover h-10 w-10 rounded-full" %>
                <div>

                <b class="capitalize"><%= reply.user.username %></b>
                <p class="italic">
                  <%= reply.body %>
                </p>
                </div>

              </div>
              <% if can? :edit, reply %>
                <div class="space-x-2">
                  <button><%= link_to "Edit", "/posts/#{@post.id}/comments/#{comment.id}/replies/#{reply.id}/edit", class:"text-slate-500 hover:underline underline-slate-500" %>
                      </button>
                  <button><%= button_to "Delete", "/posts/#{@post.id}/comments/#{comment.id}/replies/#{reply.id}", method: :delete,data:{turbo_method:"delete",confirm:"Are you sure?"}, class:" text-red-500 hover:underline underline-red-500" %>
                      </button>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <% if user_signed_in? %>
        <%= link_to  new_post_comment_reply_path(@post, comment) , class:"px-2 py-px" do %>
            <span>Reply </span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline-block animate-bounce ">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
            </svg>

      <% end %>
          <% end %>
        <br/>
      </div>
    </div>
    <% end %>
    <div class="text-center my-10">
      <%= link_to "Comment",  "/posts/#{@post.id}/comments/new" , class: 'text-center focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 transition duration-150 ease-in-out hover:bg-green-700 bg-green-500 rounded text-white px-10 py-4 text-sm cursor-pointer font-bold'%>
    </div>

</div>