<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-[#001524] text-center text-white my-5">
  <p class="notice text-gray-600"><%= notice %></p>
  <p class="alert text-red-400"><%= alert %></p>
  <div class="flex justify-between items-center container mx-auto">
    <% if user_signed_in? %>
      <div class="text-green-600">Signed in as... <%= current_user.username %></div>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"bg-red-400 px-3 py-2" %>
      <% else %>
      <%= link_to 'Home', root_path  %>
      <%= link_to 'Sign In', user_session_path, class:"bg-gray-400  px-3 py-2" %>
  <% end %>
  </div>
  <div class="w-2/5 mx-auto">
    <%= yield %>
    </div>
  </body>
</html>
