<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-[#F8F6F4]  ">

  <!--  navigation-->
  <div class=" flex justify-between items-center w-4/5 mx-auto mb-10 py-5 ">
    <div>
      <%= link_to 'AWESOME BLOG', root_path, class: "text-black"  %>
    </div>

    <div  class="flex justify-center items-center gap-5 relative" >
      <li class="list-none"><a href="#">Services</a></li>
      <li class="list-none"><a href="#">About</a></li>
      <li class="list-none"><a href="#">Contact Us</a></li>


      <% if user_signed_in? %>
      <div div id="open" >
        <%= image_tag current_user.avatar,class:" cursor-pointer rounded-full h-10 w-10" %>
      </div>

      <div id="popup" class="hidden absolute top-10 right-0 bg-[#fff] flex  flex-col justify-center items-center w-[280px] p-3 text-center  animate-fade-in shadow-lg z-10" >
        <%= image_tag current_user.avatar, class:"h-52 w-52 rounded-full" %>

        <div class="text-black mt-5">
          <p class="font-semibold"><%= current_user.username %></p>
          <p class=""><%= current_user.email %></p>
<!--          <p class="">Birth Date: <%#= current_user.date %></p>-->
          <hr class="my-3"/>
<!--          edit user-->
          <%= link_to "Edit User", edit_user_registration_path %>
          <hr class="my-3"/>

        </div>

        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:" px-3 py-2" %>
      </div>
      <% else %>
        <%= link_to 'Sign In', user_session_path, class:" px-3 py-2" %>
      <% end %>
    </div>

  </div>

  <div class="text-center ">
    <p class="notice text-gray-600"><%= notice %></p>
    <p class="alert text-red-400"><%= alert %></p>
  </div>

  <div class="max-w-[800px] mx-auto">
    <%= yield %>
    </div>
  </body>
</html>
